// body
.login-window {
  // login background
  background: url("../../images/main-image.jpg") no-repeat;
  background-size: cover;
  background-position: center;

  // hidden main
  .mainW {
    display: none;
  }
  // visible login
  .login.header {
    display: block;
  }
  .login.main {
    display: grid;
  }

  main {
    display: grid;
    place-items: center;

    .login.header {
      width: rem(80);
      height: rem(80);
      border: rem(4) solid white;
      border-radius: 50%;

      position: absolute;
      top: rem(24);
      left: 50%;
      transform: translateX(-50%);
    }

    .login.main {
      display: grid;
      row-gap: rem(32);
      h1 {
        @include font(900, rem(64));
      }
      form {
        display: grid;
        row-gap: rem(32);
        justify-items: center;

        #name {
          width: 100%;

          border: none;
          outline: none;

          border-bottom: rem(4) solid white;
          background-color: inherit;
          text-align: center;
          caret-color: white;

          @include font(700, rem(48));
          line-height: rem(70);
        }
        #continue {
          border: none;
          cursor: pointer;

          padding: rem(10) rem(30);

          border-radius: rem(100);
          border: rem(2) solid white;
          background: hsla(0, 0, 0, 0.25);

          display: flex;
          flex-flow: row nowrap;
          column-gap: rem(5);
          align-items: center;

          @include font(500, rem(16));

          &:hover {
            background: hsla(0, 0, 0, 0.5);
          }
        }
      }
    }
  }
}
